<div class="comments-section">
  <h3>Коментарі</h3>

  <div *ngIf="comments.length === 0">Коментарів поки немає.</div>

  <form (ngSubmit)="submitComment()" #commentForm="ngForm">
    <mat-form-field appearance="fill" class="comment-input">
      <mat-label>Ваш коментар</mat-label>
      <textarea matInput [(ngModel)]="newComment" name="comment" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Надіслати</button>
  </form>

  <div class="comment" *ngFor="let comment of comments">
    <img [src]="'https://localhost:7001' + comment.authorAvatar" alt="аватар" class="avatar" />
    <div class="content">
      <strong>{{ comment.authorUsername }}</strong>
      <p>{{ comment.text }}</p>
      <small>{{ comment.createdAt | date: 'short' }}</small>
    </div>
  </div>



</div>
